@media screen and (max-width: 1024px){
	.list ul{
	  flex-wrap: wrap;
	  width: 100%;
	}
	.list__card{
	  display: inline;
	  width: 51%;
	}
	.contact{
	  flex-wrap: wrap;
  
	  width: 100%
	}
	.travel__text{
	  width: 100%;
	}
	.travel{
	  width: 100%;
	}
	.screen_four{
	  padding-top: 0;
	}
	.bg_cit{
	  top: 0;
	}
	.screen-five{
	  margin-top: -20px;
	}
	.info_btn{
	  display: flex;
	  justify-content: center;
	}
  }
  @media screen and (max-width: 768px){
	.about{
	  flex-wrap: wrap;
	}
	.about__img{
	  width: 100%; 
	}
	.about__subtitle{
	  width: 80%;
	  margin: auto;
	  display: block;
	}
	.head-img{
	  min-width: 0;
	  width: 90%;
	}
	.title{
	  font-size: 24px;
	}
	.subtitle{
	  font-size: 14px;
	}
	.subtitle__head{
	  width: 90%
	}
	.title__head{
	  font-size: 48px;
	  width: 90%;
	  margin: auto;
	  margin-bottom: 60px;
	  margin-top: 30px;
	}
	.menu__link{
	  font-size: 28px;
	}
	.about__img{
	  width: 90%;
	}
	.menu{
		display: flex;
		justify-content: space-around;
	}

	/* .btn{
	  font-size: 24px;
	  font-weight: bold;
	  padding-top:30px;
	  padding-bottom: 30px;
	} */
	.btn__head{
	  width: 60%;
	}
	.title__head{
	  font-size: 36px;
	}
	.dropmenu-toggler{
		display: block;
	}
	.menu ul{
		display: none;
	}
	.container{
			&::after{
			display: none;
		}
	}
  
  }
  @media screen and (max-width: 425px){
	.info__title{
	  font-size: 24px;
	}
	.info__subtitle{
	  font-size: 20px;
	}
	.card__img{
	  width: 100%;
	  height: auto;
	}
	.list__card{
	  width: 75%;
	}
	.cit__text{
	padding-top: 100px;
	}
	.screen_four{
	  min-height: 300px;
	}
	.form{
	  width: 80%;
	  padding-left: 0;
	}
	.info{
	  width: 64%;
	}
	.footer__subtitle{
	  font-size: 10px;
	}
	.menu .menu__element{
		margin-right: 30px;
	}
	.menu__link{
	  font-size: 18px;
	}
  }