@import "utils/mixins";
@import "modules/header";
@import "modules/footer";
@import "utils/vars";
@import "utils/libs";

@import "utils/fonts"; 
@import "utils/reset";
  .container {
    background-color: $main-black;
    position: relative;
    z-index: 0;
      &::after {
        content: "";
        background-color: $grey3;
        height: 60px;
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: 0;
        border-bottom: 1px solid #8C8C8C;
        @include AdForTablet {
          display: none;
        }
	  }
  } 
  .screen-one {
    text-align: center;
    margin: auto;
    background-color: $grey3;
    @include padd(0px 0px 70px 0px);
  }
  .title {
    margin: 0;
    font-size: 36px;
    color: $white;
    font-weight: 600;
    text-transform: uppercase;
    @include AdForTablet {
      font-size: 24px;
    }
  }
  .subtitle {
    margin: 0;
    color: $white;
    font-size: 18px;
    line-height: 30px;
    @include AdForTablet {
      font-size: 14px;
    }
  }
  .head-img {
    min-width: 75%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 50px;
    @include AdForTablet {
      min-width: 0;
      width: 90%; 
    }
  }
  .title__head {
    font-size: 62px;
    padding-top: 30px;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 75%;
    margin: auto;
    margin-bottom: 30px;
    @include AdForTablet {
      font-size: 48px;
      width: 90%;
      margin: auto;
      margin-bottom: 60px;
      margin-top: 30px;
    }
    @include AdForMobileL{
      font-size: 36px;
    }
  }
  .subtitle__head {
    font-size: 20px;
    margin-top: 15px;
    width: 	75%;
    margin: auto;
    @include AdForTablet {
      width: 90%
    }
  }
  .btn {
    background-color: $white;
    color: $main-black;
    @include padd(15px 45px 15px 45px);
    font-size: 20px;
    display: block;
    margin: auto;
    @include AdForMobileL{
      font-size: 14px;
    }
      &:hover {
        background-color: #afafaf;
        transition: 1s;
      }
  }
  .btn__head {
    width: 230px;
    margin-top: 60px;
    @include AdForTablet {
      width: 50%;
    }
  }
  .screen-two {
    @include padd(50px 0px 50px 0px);
    justify-content: center;
    margin: auto;
    background-color: $main-grey;
    display: flex;
  }
  .about {
    display: flex;
    width: $display;
    @include AdForTablet {
      flex-wrap: wrap;
	}
	.about__text {
		@include padd(70px 0px 0px 0px);
		text-align: center;
		color: $white;
		flex-wrap: wrap;
	  }
	  .about__subtitle {
      font-size: 18px;
      @include AdForTablet {
        width: 80%;
        margin: auto;
        display: block;
      }
	  }
	  .about__title {
		  margin-bottom: 40px;
	  }
	  .about__btn {
      width: 250px;
      margin-top: 50px;
      @include AdForMobileS{
        width: 50%;
      }
	  }
  }
  .about__img {
    padding: 15px;
    width: 50%;
    margin: 0 auto;
    min-height: 500px;
    @include AdForTablet {
      width: 90%;
	  }
  }
  .section-three {
    @include padd(50px 0px 100px 0px);
    background-color: $grey4;
    }
  .travel {
    width: 90%;
    margin: auto;
    @include AdForLaptop {
      width: 100%;
    }
	.travel__subtitle {
		width: 90%;
		padding-top: 20px;
		margin:auto;
	  }
	  .travel__text {
      @include padd(0px 0px 60px 0px);
      text-align: center;
      @include AdForLaptop {
        width: 100%;
      }
      }
  }
  .list ul {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    @include AdForLaptop{
      width: 100%;
	  }
    .list__card {
      width: 300px;
      text-align: center;
      @include AdForLaptop{
        display: inline;
      }
      @include AdForMobileL {
        width: 75%;
      }
    }
  }
  .card__img {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    @include AdForMobileL {
      width: 100%;
        height: auto;
    }
  }
  .card__title {
    font-size: 24px;
    font-weight: normal;
  }
  .screen_four {
    text-align: center;
    width: 100%;
    margin: 0;
    position: relative;
    @include AdForLaptop {
      padding-top: 0;
    }
    @include AdForMobileL {
      min-height: 300px;
    }
  }
  .bg_cit {
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
    display: block;
    @include AdForLaptop {
      top:0;
    }
  }
  .cit__text {
    text-align: center;
    @include padd(240px 0px 0px 0px);
    margin: auto;
    color: $white;
    @include AdForMobileL {
      padding-top: 100px;
    }
  }
  .autor {
	  margin-bottom: 200px;
  }
  .screen-five {
    background-color: $main-grey;
    @include padd(100px 0px 00px 0px);
    @include AdForLaptop {
      margin-top: -20px;
    }
    @include AdForMobileL{
      padding-top: 0;
    }
  }
  .contact {
    width: 95% ;
    margin: auto;
    display: flex;
    justify-content: space-around;
    @include AdForLaptop {
      flex-wrap: wrap;
      width: 100%
    }
  }
  .info {
    @include padd(120px 0px 0px 0px);
    text-align: center;
    width: 50%;
    @include AdForMobileL {
      width: 64%;
    }
    .info__title {
      margin-bottom: 40px;
      @include AdForMobileL {
        font-size: 24px;
      }
      }
      .info__title {
      @include AdForMobileL {
        font-size: 20px;
      }
      }
  }
  .info_btn {
    width: 200px;
    text-align: center;
    margin-bottom: 70px;
    @include AdForLaptop {
      display: flex;
      justify-content: center;
    }
    @include AdForMobileL {
      width: 50%;
    }
  }
  .form {
    margin-top: 80px;
    font-size: 24px;
    flex-wrap: wrap;
    width: 50%;
    @include padd(0px 0px 0px 50px);
    @include AdForMobileL {
      width: 80%;
        padding-left: 0;
	}
	.form__input {
		width: 100%;
		display: inline-block;
		font-size: 36px;
		border: 0;
		border-bottom: 2px solid white;
		background-color: $main-grey;
		color:$white;
		margin-bottom: 30px;
	  }
  }
  .dropmenu {
	  display: none;
	  visibility: hidden;
	  color: $white;
	  width: 100%;
	  text-align: center;
	  @include padd(30px 0px 30px 0px);
	  background-color: $main-black;
	  z-index: 11;
	  &:nth-child(5) {
		  color: red;
	  }
	  & .menu__element,.menu__link {
		  	color: $white;
			margin-bottom: 20px;
			font-weight: bold;
	  }
  }
  .dropmenu-toggler {
	  background-color: $white;
	  width: 40px;
	  height: 6px;
	  display: none;
	  position: absolute;
	  right: 80px;
	  top: 30px;
	  &::after{
		content: '';
		position: absolute;
		background-color: $white;
		width: 40px;
		height: 6px;
		margin-top: 12px;
	  }
	  &::before {
		content: '';
		position: absolute;
		background-color: $white;
		width: 40px;
		height: 6px;
		margin-top: 24px;
	  }
	  @include AdForTablet {
		display: block;
	}
    @include AdForMobileL{
      right: 35px;
    }
  }

  .popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	  .popup__body {
		  z-index: 4;
		  display: flex;
		  position: relative;
		.weather--local {
			width: 395px;
			border-radius: 0 10px 10px 0;
			margin-top: 50px;
			margin-bottom: 50px;
			background-color: #222;
			padding: 45px 28px 20px;
			.weather__title {
				color: $white;
				text-align: center;
				text-transform: uppercase;
			}
			.weather__info {
				color: $white;
				font-size: 18px;
				width: 100%;
				text-align: center;
				margin: 0 auto;
				line-height: 30px;
			}
			.weather__btn {
				width: 50%;
				margin: auto;
				font-weight: bold;
				text-align: center;
				margin-top: 50px;
			}
		}
		.weather {
			border-radius: 2%;
			display: block;
			width: 400px;
			height: 500px;
			background-image: url('https://avatanplus.com/files/resources/original/5a34ae77dd73f1605dc98463.png');
			// background-color: rgb(109, 209, 255);
			color: $white	;
			padding: 35px;
			.city {
				font-size: 42px;
				margin-top: 30px;
			}
			.weather__icon {
				display: block;
				width: 60px;
				height: 60px;
			}
			.day {
				font-size: 30px;
			}
			.icon-weather img {
			  
				width: 250px;
				margin-left: 60px;

			}
			.temp {
			  font-size: 74px;
			  color: $white;
			  bottom: 15px;
			  position: absolute;
			}
			.status {
			  bottom: 10px;
			  position: absolute;
			  font-size: 40px;
			}
		}
	}
	.popup__overlay {
		z-index: 3;
		background-color: #333c;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.close {
		&::after {
			content: "";
			position: absolute;
			background-color: $white;
			height: 4px;
			width: 22px;
			top: 0;
			right: 0;
			transform: rotate(45deg);
		}
		&::before {
			content: "";
			position: absolute;
			background-color: $white;
			height: 4px;
			width: 22px;
			top: 0;
			right: 0;
			transform: rotate(-45deg);
		}
	}
  }
  .scrollToTop {
    border-radius: 50%;
    background-color: #fff;
    width: 60px;
    height: 60px;
    z-index: 11;
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-weight: bold;
    cursor: pointer;
    display: none;
	p {
		text-align: center;
		margin-top: 20px;
		font-size: 18px;
	}
}
	#preloader {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 999;
		width: 100%;
		height: 100%;
		overflow: visible;
		background: #fbfbfb url('//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/processing.gif') no-repeat center center;
	} 
	.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
	}
	.hidden {
    visibility: hidden;
	  opacity: 0;
	  transition: visibility 0s 2s, opacity 2s linear;
	}
	.scrollToTop__show {
		display: block;
		transition: 2s;
		&:hover {
			transform: translate(0px, -10px);
			transition: all 1s;
		}
	}
	.dropmenu--show,.popup__show {
		display: block;
		visibility: visible;
		z-index: 12;
	}

