@import "utils/vars";
	
@import "utils/libs";
@import "utils/mixins";
@import "utils/fonts";
@import "custom";
@import "modules/header";
@import "~bootstrap/scss/bootstrap";
@import "utils/reset";
@import "adaptability";




// @import "_normalize";
// @import "_header";

// html {
//   line-height: $mainLineHeight;
// 	font-size: $mainFontSize;
// 	color: $mainFontColor;
//   height: 100%;
//   @media screen and (max-width: $desktopWidth) {
// 		font-size: 16px;
//   }
//   @media screen and (max-width: $tableWidth) {
// 		font-size: 15px;
//   }
//   @media screen and (max-width: $phoneWidth) {
// 		font-size: 14px;
//   }
// }

// body {
//   margin: 0;
//   padding: 0;
//   font-family: $mainFont;
// 	font-size: $mainFontSize;
//   font-weight: $mainFontWeight;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// *, *:before, *:after { box-sizing: border-box; }

// h1, h2, h3, h4, h5, h6 { margin: 0; }

// a { text-decoration: none; }

// ul, li {
//   margin: 0;
//   padding: 0;
//   list-style-type: none;
// }

// section, .section {
//   position: relative;
//   padding: 40px 0;
//   @media screen and (max-width: $desktopWidth) {
//     padding: 36px 0;
//   }
//   @media screen and (max-width: $desktopWidth) {
//     padding: 28px 0;
//   }
//   @media screen and (max-width: $desktopWidth) {
//     padding: 20px 0;
//   }
// }

// .wrapper {
//   display: flex;
//   flex-direction: column;
//   margin: 0 auto;
//   min-height: 100vh;
// }

// .content-wrapper {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

// .container {
//   width: 100%;
//   flex: 0 0 auto;
//   position: relative;
//   margin: 0 auto;
//   max-width: $desktopWidth;
//   @media screen and (max-width: $smDesktopWidth) {
//     max-width: tableWidth;
//   }
//   @media screen and (max-width: $tableWidth) {
//     max-width: phoneWidth;
//   }
//   @media screen and (max-width: $phoneWidth) {
//     max-width: smPhoneWidth;
//   }
// }

// Modules
// @import "modules/my-module.scss";
%tmpbtn{
	background-color: $main-grey;
	color: $white;
	font-size: 24px;
	font-weight: bold;
	border-radius: 0px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
%tmptitle{
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	position: relative;
}
%tmpsubtitle{
	font-size: 24px;
	text-align: center;
	color: $white;
	line-height: 28px;
}

body{
	font-family:'Roboto', sans-serif ;
}
.screen1{
	background: $main-gradient;
}
.img{
	width: 100%;
	box-shadow: 0px 2px 25px #000000;
	border-radius: 10px;
}
.title{
	@extend %tmptitle;
	color: $white;
}
.title__header{
    padding-top: 70px;
    &::after{
        content: "";
        position: absolute;
        left: 0;
        width: 180px;
        height: 3px;
        background-color: $white;
        color: $white;
        opacity: 60%;
        margin-top: 48px;
    }
}
.subtitle{
	margin-top: 41px;
	@extend %tmpsubtitle;
}
.arrow-back{
	width: 15px;
	height: 30px;
}
.owl-carousel {
	z-index: 0;
	.owl-item img {
		max-width: 100%;
		padding-left: 70px;
		padding-right: 70px
	}
}
.btn{
	padding-top: 15px;
	padding-bottom: 15px;
	@extend %tmpbtn;
}
.btn_header{
    margin-top: 47px;
    margin-bottom: 48px;
    &:hover{
        background-color: #F3F3F3;
        color: $main-black;
        transition: 0.5s;
    }
}
.switch-section{
	background-color: #e7f1f5;
	ul{ 
	padding: 0;
	display: flex;
	margin-top: 20px;
	margin-bottom: 40px;
	}
}
.switch__element{
 	.switch__link{
		margin-left: 40px;
		margin-right: 40px;
		color: $main-black;
		font-size: 24px;
		&:hover{
			text-decoration: underline;
		}
	}
}
.black{
	color: $main-black;
	padding:0;
}
.indent{
	padding-top: 65px;
}
.line{
	height: 3px;
	border-color: $main-grey;
	opacity: 90%;
	margin:0;
}
.cardbar{
	flex-wrap: wrap;
	margin-top: 40px;
	.cardbar__card{
		position: relative;
		background-color: #C4C4C4;
		padding: 30px 15px 15px 15px;
		margin-bottom: 50px;
		border-radius: 0px;
		width: 30%;
		&:hover{
			box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
			transition: 0.5s;
			transform: scale(1.03);
		}
	}
	.card__title{
		margin-top: 20px;
		margin-left: 10px;
		font-weight: bold;
	}
}
.price{
	margin-left: 10px;
}
.btn__catalog{
	margin-bottom: 30px;
	float: left;
	&:hover{
		background-color: #F3F3F3;
		color: $main-grey;
	}
}
.screen3{
	background-color: $main-grey;
}
.banner{
	padding: 0;
	margin: 0;
	margin-bottom: 115px;
	margin-top: 50px;
	&:hover{
		cursor: pointer;
		transform: scale(1.01);
		transition: 1.5s;
		filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.8));
	}
}
.banner-women{
	padding-left: 15px;
}
.banner-man{
	padding-right: 15px;
	&::before{
		position: absolute;
		content: '';
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: rgba(0,0,0,0.5);
		z-index: 8;
	}
}		
.women-img:hover{
	transform: scale(1.03);
	transition: 1.5s;
}
.banners{
	position: relative;
	padding: 0;
	display: flex;
	z-index: 0;
	.btn-man, .btn-women{
		position: absolute;
		margin-left: 25px;
		bottom: 130px;
		z-index: 1;
		&:hover{
			background-color: #F3F3F3;
			color: $main-black;
			transition: 0.5s;
		}
	}
}
.btn-women{
	right: 15px;
}
.screen4{
	background: $main-gradient
	}
	.advantages{
		text-align: center;
		align-items: center;
	}
	.ad-icon{
		width: 80px;
		background-color: $white;
		padding: 20px 20px 20px 20px;
		border-radius: 40px;
		margin-top: 50px;
		margin-bottom: 35px;
	}
	.ad-title{
		font-weight: bold;
		font-size: 24px;
		color: $white
	}
	.subtitle__fix{
		font-size: 20px;
		margin-top: 0px;
		width: 80%;
		justify-content: center;
		margin-left: 35px;
		margin-top: 15px;
		margin-bottom: 50px;
	}
.about{
	padding-top: 20px;
	right:  0;
	align-items: flex-end;
	
	.about-title{
		color: $main-black;
		font-size: 28px;
		margin-top: 15px;
	}
	.about-text{
		color: #555555;
		font-size: 24px;
		margin-top: 15px;
		line-height: 28px;
		margin-bottom: 55px;
	}
}
.img-about{
	padding: 15px;
	margin-bottom: 80px;
}
.btn-about{
	margin-top: 20px;
	margin-right : 20px;
	padding: 15px 70px 15px 70px;
	@extend %tmpbtn;
	margin-bottom: 40px;
	&:hover{
		background-color: $main-grey;
		border-color: $main-grey;
		color: $white;
	}
}
.btn-about-second{
	display: block;
	color: $main-grey;
	background-color: inherit;
	border: 5px solid $main-black;
	padding: 10px 50px 10px 50px;
	&:visited{
		color: $main-grey;
	}
	&:hover{
		color: $white;
	}
}
.buttons{
	display: flex;
}
.footer{
	min-height: 350px;
	background-color: $main-grey;
	.foot-title{
		color: $white;
		font-size: 22px;
		margin-top: 35px;
		margin-bottom: 30px;
	}
	.foot-text{
		margin-bottom: 20px;
		color: $white;
	}
}
.more{
	text-decoration: underline;
	color: $main-grey;
	font-size: 24px;
	margin-bottom: 20px;
	&:hover{
		color: $main-grey;
	}
}
.owl-theme .owl-nav [class*=owl-]{
	width: 50px;
	height: 50px;
	background-image: url(../img/arrow1.png);
	left: 0;
}
.icon::after{
	content: '$';
}
.scroll-to-top{
	padding: 5px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: none;
	background-color: #fff;
	border-radius: 30px;
	width: 60px;
	height: 60px;
	z-index: 11;
	position: fixed;
	right: 30px;
	bottom: 30px;
	opacity: 80%;
}
.up{
	align-items: center;
	width: 50px;
	height: 50px;
}

.popup{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.close{
	color: #000;
	font-size: 24px;
	margin-left: 20px;
	display: block;
	animation-name: move;
    -webkit-animation-name: move;
	animation-duration: 2s;
	-webkit-animation-duration: 2s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
		padding-bottom: 500px;
}
.popup__overlay{
	z-index: 111;
	background-color: #333c;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__body{
	z-index: 111;
	width: 600px;
	opacity: 100%;
	background-color: #fff;
	position: relative;
	padding: 30px;
}
.title-reg{
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	color: #000;
}
.form__title{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 15px;
}
.input{
	margin-bottom: 5px;
	padding: 10px;
	font-size: 18px;
	width: 100%;
	border-radius: 0px;
	border: 1px black solid;
}
.registerbtn{
	left: 50%;
	margin-top: 30px;
}
.registerbtn--white{
	font-size: 24px;
	background-color: #fff;
	color: #000;
	padding: 10px;
	padding-top: 15px;
	margin-left: 10px;
}
.popup__body{
	display: block;
	animation-name: move;
    -webkit-animation-name: move;
	animation-duration: 2s;
	-webkit-animation-duration: 2s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}
.show{
	display: block;
	z-index: 12;
}
	