footer.footer
            p.subtitle.footer__subtitle Сделано специально для тренировки и отработки навыков! Фус...Ро, Да.
            p.subtitle.footer__subtitle ©2021 luhum. Подписывайтесь на Plusios
