footer.footer
  .container
    .row
      h2.title.indent.col-md-12 TopShoose
      .foot-info.col-md-3
        h3.foot-title Contacts
        p.foot-text +3809999999999
        p.foot-text +3809999999999
      .foot-info.offset-md-1.col-md-3
        h3.foot-title Creators
        p.foot-text Danil Sarbash
        p.foot-text EvoArt
      .foot-info.offset-md-1.col-md-3
        h3.foot-title Social
        p.foot-text @instagram
        p.foot-text Facebook
