header.header
      .container.navigation
        .row
          a.logo.col-sm-1.col-md-2(href='TopShoose') TopShoose
          nav.menu.offset-lg-1.col-lg-9.offset-md-0.col-md-6
            ul
              li.menu__element
                a#home(href='index.html') Home
              li.menu__element
                a(href='Shop.html') Shop
              li.menu__element
                a(href='#') Man
              li.menu__element
                a(href='#') Women
              li.menu__element
                a.scrollto(href='#about') About
            .user.offset-lg-2
              a.login(href='#') Log in
              a(href='#')
                img.icon(src='/assets/img/basket.png' alt='Basket')
              a(href='#')
                img.icon(src='/assets/img/heart.png' alt='Hear')
        img.gamburger(src='/assets/img/gamburger.png' alt='')
