.container
      header.header
        .header__body
          h1.logo Luhum
          .dropmenu-toggler#dropmenu-toggler(onclick='open')
          .dropmenu#dropmenu
            ul
              li.menu__element
                a.menu__link(href='') Главная
              li.menu__element
                a.menu__link(href='') О нас
              li.menu__element
                a.menu__link(href='') Контакты
              li.menu__element
                a.menu__link(href='') Услуги
          .menu
            ul
              li.menu__element
                a.menu__link(href='') Главная
              li.menu__element
                a.menu__link(href='') О нас
              li.menu__element
                a.menu__link(href='') Контакты
              li.menu__element
                a.menu__link(href='') Услуги
            
          
