include ../utils/mixins


block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    meta(name='viewport' content='width=device-width, initial-scale=1')
    block head

  body(class=pageClass)
    .wrapper
      #app
        include ../includes/modules/header
        section.screen-one
          img.head-img(src='./assets/img/head__img.jpg' alt='')
          h2.title.title__head
            | luhum поможет вам раскрыть свои возможности
          h3 Жизнь, которой вы заслуживаете
          p.subtitle.subtitle__head
            | ​
            | Я надежный и опытный Коучинг,
            | который специализируется на работе с частными
            | лицами и профессионалами, стремящимися изменить свою
            | жизнь в лучшую сторону. Я твердо верю в то, что каждый
            | заслуживает более яркой, счастливой и активной жизни.
            | Я с удовольствием отвечу на все вопросы и помогу вам
            | раскрыть свой потенциал на 100 %.
            a.btn.btn__head(href='#') Раскрыть потенциал
        section.screen-two
          .about
            img.about__img(src='./assets/img/img__about.jpg' alt='')
            .about__text
              h2.title.about__title НЕМНОГО О СЕБЕ
              p2.subtitle.about__subtitle
                | С 2000 года мне удалось помочь многим клиентам справиться с
                | трудностями, которые препятствовали их саморазвитию.
                | Нет ничего хуже, чем неудовлетворенность, неуверенность
                | и неблагополучие. Наша жизнь слишком коротка для этого.
                | Я внушаю своим клиентам более позитивный взгляд на жизнь
                | и предоставляю им все необходимое для того, чтобы добиться
                | изменений к лучшему. С моей помощью вы научитесь решать
                | проблемы, которые стоят на вашем пути к цели.
              a.btn.about__btn(href='' ) Cвязаться со мной
        section.section-three
          .travel
            .travel__text
              h2.title.travel__title ПРОДУМАННЫЙ ПОДХОД
              p.subtitle.travel__subtitle
                | Я предлагаю различные услуги в сфере лайф-коучинга,
                | благодаря которым вы научитесь управлять своими эмоциями,
                | преодолевать трудности и достигать жизненных целей.
                | Я учитываю потребности каждого клиента,
                | чтобы в полной мере раскрыть его потенциал.
                | Свяжитесь со мной, чтобы сделать первый шаг на пути к успеху.
            .list
              ul
                li.list__card
                  img.card__img(src='./assets/img/card__img1.png' alt='')
                  h3.title.card__title СЕАНС СЕМЕЙНОГО КОУЧИНГА
                  p.subtitle.card__subtitle Рекомендации и вдохновениe
                li.list__card
                  img.card__img(src='./assets/img/card__img2.png' alt='')
                  h3.title.card__title СЕАНС СЕМЕЙНОГО КОУЧИНГА
                  p.subtitle.card__subtitle Рекомендации и вдохновениe
                li.list__card
                  img.card__img(src='./assets/img/card__img3.png' alt='')
                  h3.title.card__title СЕАНС СЕМЕЙНОГО КОУЧИНГА
                  p.subtitle.card__subtitle Рекомендации и вдохновениe
        section.screen_four
          img.bg_cit(src='./assets/img/bg_cit.png' alt='')
          .cit__text
            p.subtitle.cit__subtitle
              | ​«Счастье и знанье не где-то в другом месте,
              | а здесь, не в другое время, а сейчас»
            p.autor ​Уолт Уитмен
        section.screen-five
          .contact
            .info
              h2.title.info__title Запишитесь на сеанс
              p.subtitle.info__subtitle ул. Арбат, 1а, Москва, 119019, Россия
              p.subtitle.info__subtitle sarbash.danil@gmail.com
              p.subtitle.info__subtitle +7 123 456-78-90
            .form
              input.form__input(type='text' placeholder='Имя')
              input.form__input(type='text' placeholder='Эл.почта')
              input.form__input(type='text' placeholder='Почта')
              input.form__input(type='text' placeholder='Адрес')
              a.btn.info_btn(href='') Отправить
        #modal.popup
          .popup__overlay
            .popup__body
              .weather
                h2.title.city Dubai
                
                p.wind 3
                .icon-weather
                p.temp 14
                p.status sunny
                
              .weather--local
                h2.weather__title You can check weather in your city
                p.weather__info 
                  | in the left window by default you can see the weather in Kiev.
                  | by clicking on the button below, the weather for today
                  | in your city will be displayed there
                a.btn.weather__btn Set Location
              a.close
        #preloader.visible
        p EXAMPLE        
      .scrollToTop#scrollToTop 
        p up

    include ../includes/modules/footer

    block script
